<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6580a931-97ce-4248-8bef-82acb9f9ba9c/resourceGroups/jobportalik/providers/Microsoft.Web/sites/WebJobPortal20181212095345</ResourceId>
    <ResourceGroup>jobportalik</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webjobportal20181212095345.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webjobportal20181212095345.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebJobPortal20181212095345</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebJobPortal20181212095345</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Repository.DbConnection.Entity.dmai0917_1067677Entities2" Order="1" Enabled="False">
          <Destination Path="Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067677;User ID=dmai0917_1067677;Password=Password1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.DbConnection.Entity.dmai0917_1067677Entities2, Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Repository.DbConnection.Entity.JobPortalEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067677;Persist Security Info=True;User ID=dmai0917_1067677;Password=Password1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.DbConnection.Entity.JobPortalEntities, Repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MyWeb-20181115112006.mdf;Initial Catalog=aspnet-MyWeb-20181115112006;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MyWeb-20181115112006.mdf;Initial Catalog=aspnet-MyWeb-20181115112006;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="Repository.DbConnection.Entity.dmai0917_1067677Entities2-Web.config Connection String">
      <ParameterValue>Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067677;User ID=dmai0917_1067677;Password=Password1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Repository.DbConnection.Entity.JobPortalEntities-Web.config Connection String">
      <ParameterValue>Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067677;Persist Security Info=True;User ID=dmai0917_1067677;Password=Password1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repository.DbConnection.Entity.dmai0917_1067677Entities2" />
    <_ConnectionStringsToInsert Include="Repository.DbConnection.Entity.JobPortalEntities" />
  </ItemGroup>
</Project>