<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      
      <ws2007HttpBinding>
        <binding name="httpbinding" />
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicesBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
   
      <service behaviorConfiguration="ServicesBehaviour" name="WcfApplication.NotificationService">
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="httpbinding" name="NotificationServiceHttpEndpoint" contract="WcfApplication.ServiceInterfaces.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" name="NotificationServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Notifications/" />
          </baseAddresses>
        </host>
      </service>
     
      <service behaviorConfiguration="ServicesBehaviour" name="WcfApplication.OfferService">
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="httpbinding" name="OfferServiceHttpEndpoint" contract="WcfApplication.ServiceInterfaces.IOfferService" />
       <endpoint address="mex" binding="mexHttpBinding" name="OfferServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Offer/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicesBehaviour" name="WcfApplication.UserService">
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="httpbinding" name="UserServiceHttpEndpoint" contract="WcfApplication.ServiceInterfaces.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" name="UserServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>

            <add baseAddress="http://localhost:8080/User/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicesBehaviour" name="WcfApplication.OrderService">
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="httpbinding" name="OrderServiceHttpEndpoint" contract="WcfApplication.ServiceInterfaces.IOrderService" />
        <endpoint address="mex" binding="mexHttpBinding" name="OrderServiceMexHttpEndpoint" contract="IMetadataExchange" />
       <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Order/" />
          </baseAddresses>
        </host>
      </service>

    </services>
   
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji internetowej w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji internetowej.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
