<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true" /> 

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <ws2007HttpBinding>
                        <binding name="UserServiceHttpEndpoint" />
                </ws2007HttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8080/UserService" binding="ws2007HttpBinding"
                        bindingConfiguration="UserServiceHttpEndpoint" contract="UserServiceReference.IUserService"
                        name="UserServiceHttpEndpoint">
                        <identity>
                                <userPrincipalName value="JAKUB\jakub" />
                        </identity>
                </endpoint>
        </client>
    </system.serviceModel>
</configuration>