<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true" />
  <system.serviceModel>
  <bindings>
    <netTcpBinding>
      <binding name="UserServiceTcpEndpoint" />
    </netTcpBinding>
    <ws2007HttpBinding>
      <binding name="UserServiceHttpEndpoint" />
    </ws2007HttpBinding>
  </bindings>
        <client>
              <endpoint address="http://localhost:8080/" binding="ws2007HttpBinding"
                    bindingConfiguration="UserServiceHttpEndpoint" contract="UserServiceReferenceTcp.IUserService"
                    name="UserServiceHttpEndpoint">
                    <identity>
                          <userPrincipalName value="JAKUB\jakub" />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
                    bindingConfiguration="UserServiceTcpEndpoint" contract="UserServiceReferenceTcp.IUserService"
                    name="UserServiceTcpEndpoint">
                    <identity>
                          <dns value="localhost" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>