@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>JobPortal</h1>
    <p class="lead">This is home page of job portal</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TopResult1</h2>
        <p>
            Info
        </p>
    </div>
    <div class="col-md-4">
        <h2>TopResult2</h2>
        <p>Info</p>
    </div>
    <div class="col-md-4">
        <h2>TopResult3</h2>
        <p>Info</p>
    </div>
</div>