<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="httpbinding" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicesBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>

      <service behaviorConfiguration="ServicesBehaviour" name="WCFServiceWebRole2.NotificationService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpbinding" name="NotificationServiceHttpEndpoint" contract="WCFServiceWebRole2.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" name="NotificationServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Notifications/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="ServicesBehaviour" name="WCFServiceWebRole2.OfferService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpbinding" name="OfferServiceHttpEndpoint" contract="WCFServiceWebRole2.IOfferService" />
        <endpoint address="mex" binding="mexHttpBinding" name="OfferServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Offer/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicesBehaviour" name="WCFServiceWebRole2.UserService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpbinding" name="UserServiceHttpEndpoint" contract="WCFServiceWebRole2.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" name="UserServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>

            <add baseAddress="http://localhost:8080/User/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServicesBehaviour" name="WCFServiceWebRole2.OrderService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpbinding" name="OrderServiceHttpEndpoint" contract="WCFServiceWebRole2.IOrderService" />
        <endpoint address="mex" binding="mexHttpBinding" name="OrderServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Order/" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Aby przeglądać katalog główny aplikacji internetowej w trakcie debugowania, ustaw dla poniższego elementu wartość true. 
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji internetowej.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
