<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding"/>
        </netTcpBinding>
      <ws2007HttpBinding>
        <binding name="httpbinding"  >
        </binding>
        </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UserServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="ServiceLibrary.OfferService" behaviorConfiguration="UserServiceBehaviour">
        <endpoint binding="ws2007HttpBinding"
          bindingConfiguration="httpbinding" name="offerService" contract="ServiceLibrary.IOfferService" />
        <endpoint address="mex" binding="mexHttpBinding" name="OfferServiceMexHttpEndpoint"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/Offer/" />
            <add baseAddress="http://localhost:8080/Offer/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="UserServiceBehaviour" name="ServiceLibrary.UserService">
        <clear />
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="httpbinding"
          name="UserServiceHttpEndpoint" contract="ServiceLibrary.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" name="UserServiceMexHttpEndpoint"
          contract="IMetadataExchange" />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
          name="UserServiceTcpEndpoint" contract="ServiceLibrary.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="MyServiceMexTcpBidingEndpoint"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/" />
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
 
  </system.serviceModel>
  <appSettings>
    <add key="PasswordHash" value="P@@Sw0rd"/>
    <add key="SaltKey" value="S@LETKEY"/>
    <add key="VIKey" value="@1B2c3D4e5F6g7H8"/>
  </appSettings>
</configuration>