<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Behaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Behaviour" name="ServiceLibrary.UserService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="UserHttpMexEndPoint" contract="IMetadataExchange" />
     <endpoint address="https://localhost:8010/UserService" binding="basicHttpsBinding" bindingConfiguration="" name="UserHttpEndPoint" contract="ServiceLibrary.IUserService" />  

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Behaviour" name="ServiceLibrary.OfferService">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="ServiceHttpMexEndPoint" contract="IMetadataExchange" />
        <endpoint address="https://localhost:8020/OfferService" binding="basicHttpsBinding" bindingConfiguration="" name="ServiceHttpEndPoint" contract="ServiceLibrary.IOfferService" /> 
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>