<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UserServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="UserServiceBehaviour" name="ServiceLibrary.UserService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration=""
          name="UserServiceHttpEndpoint" contract="ServiceLibrary.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="UserServiceMexHttpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/UserService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>