@model IEnumerable<WebJobPortal.Models.ServiceOfferWebModel>

@{
    ViewBag.Title = "Services offers";
   /// Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var itemCount = 0;
}

@{
    foreach (var item in Model)
    {
        var insertRow = itemCount % 3 == 0;

        if (insertRow)
        {
            @Html.Raw("<div class=\"row\">");
    }

<div class="col-sm-4 bg-success">
    <div class="card">
        <img class="card-img-top" src="~/Pictures/male.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>

    </div>
</div>

   if (insertRow) {
   @Html.Raw("  </div>")}

    itemCount++;
    }
}