
* {
    box-sizing: border-box
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:25px;
}

/*Button style - class buttons - because we can't change menu Column buttons*/
.buttons {
    border: 1px solid #8c8c8c;
    padding: 15px 32px;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    margin: 4px 2px;
    width: 40%;
}
    .buttons:hover {
        background-color: #e6e6e6;
        color: #333;
    }
    .buttons:focus {
        outline: 0;
    }
/*all confirm buttons, like delete, submit...*/
#confirmBtn {
    width: 30%;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*For USerProfile*/
/* buttons in menu Column*/
#edit-user{
    padding-bottom: 35px;
}
.tabColumn {
    float: left;
    background-color: #f1f1f1;
    width: 25%;
    height: auto;
}
/* for info of Column to stay lined up*/
.frameContentColumn {
    float: right;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 500px;
}
/* On mouse-over */
.dropdown-btn:hover {
    background-color: #ddd;
}
.column button:hover {
    background-color: #ddd;
}
/* active class style */
.active {
    background-color: #ccc;
}
/* dropdown options */
.dropdown-container {
    display: none;
    background-color: #ddd;
}
/* style of arrow in Column*/
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/*add more space to the bottom of picture & description*/
.row {
    padding-bottom: 25px;
}

/*------------------------------------------------*/
/*Layout*/
/*logo*/
a.link-icon {
    display: block;
    height: 32px;
    width: 32px;
    background: url('https://cdn1.iconfinder.com/data/icons/berlin/32x32/link.png');
}

/*search bar in header*/
.search {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 300px;
}
#search-text-field{
    border-radius: 4px;
}

footer{
    text-align:center;
    bottom:0;
}

/* Style the buttons  */
button {
    display: block;
    background-color: white;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/*------------------------------------------------*/
/*Modals - popup windows*/
/* background */
.deleteAccountModal, .loginModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*like forgotten password*/
#forgotten {
    text-align: center;
}
/*  Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
#modal-header{
	text-align: center;
    margin-bottom: 35px;
}
/*text in modals*/
.modalText {
    text-align: center;
    line-height: 15px;
}
/*warning message*/
#note {
	color: red;
    font-size: 12px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.loginBtn {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(157, 157, 157);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-offset: 0px;
    padding:15px;
    position: relative;
    text-decoration: none;
    text-decoration-color: rgb(157, 157, 157);
    text-decoration-line: none;
    text-decoration-style: solid;
}
#loginBtn {
    width:100%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
/* The popup form - hidden by default */
.loginModal {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
#loginModalContent {
    max-width: 300px;
    padding: 20px;
    background-color: white;
}

    /* Full-width input fields */
    #loginModalContent input[type=text], #loginModalContent input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        #loginModalContent input[type=text]:focus, #loginModalContent input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .modalContent .submitBtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }







.serviceOffer {
    position: relative;
    width: 30%;
    height: 60%
}

.serviceOfferPic {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}







.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loading {
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 999;
}




table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
a.hoursButton {
    background: url(../Images/image.gif) no-repeat top left;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px; /* hides the link text */
}


serviceOfferTable.collapsed {
    border-collapse: collapse;
}

col.col-md-4 {
    border-style:hidden;
    
}
.item {
    border: 1px #8c8c8c;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
    min-height: 400px;
    max-width: 300px;
}
.item:hover {
    background-color: #e6e6e6;
    color: #333;
}
.card-body{
    text-align:center;
}
.card-title{
    padding-bottom:2px;
}
.price {
    padding-top: 10px;
}
#details-btn{
    padding-top: 10px;
}
.selectlistReview {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

