<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Repository.Properties.Settings.TestConnectionString"
      connectionString="Data Source=JAKUB\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repository.Properties.Settings.JobPortalConnectionString"
      connectionString="Data Source=JAKUB\SQLEXPRESS;Initial Catalog=JobPortal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="JobPortalEntities" connectionString="metadata=res://*/JobPortalDbEntityModel.csdl|res://*/JobPortalDbEntityModel.ssdl|res://*/JobPortalDbEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GQ6AKJT\SA;initial catalog=JobPortal;user id=sa;password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repository.Properties.Settings.JobPortalTestDBConnectionString"
      connectionString="Data Source=JAKUB\SQLEXPRESS;Initial Catalog=JobPortalTestDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repository.Properties.Settings.JobPortalConnectionString1"
      connectionString="Data Source=DESKTOP-GQ6AKJT\SA;Initial Catalog=JobPortal;User ID=sa;Password=root"
      providerName="System.Data.SqlClient" />
    <add name="Repository.Properties.Settings.JobPortalConnectionString2"
      connectionString="Data Source=DESKTOP-GQ6AKJT\SA;Initial Catalog=JobPortal;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Repository.Properties.Settings.DataSourceConnectionString"
      connectionString="Data Source=kraka.ucn.dk;Persist Security Info=True;User ID=dmai0917_1067677;Password=Password1!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>